urllib3==1.25.11  # An older version compatible with OpenSSL 1.0.2k-fips



pandas==1.3.3
numpy==1.21.2
urllib3==1.25.11
altair==4.1.0
streamlit==1.14.0
scikit-learn==0.24.2  # Use a version compatible with your needs

